// Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$color-background: #242B33;
$color-accent: #D4C17F;
$color-text: #FFF;
$color-footer-background: #2D343C;
$color-placeholder: #BEBEBE;

// Media
$table: 959px;