.form {
  &__input {
    font-size: 14px;
    text-align: center;

    height: 50px;

    padding: 12px;

    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s ease-in;
    color: $color-text;

    &::placeholder {
      color: $color-placeholder;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }

  &__privacy {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
    text-align: center;
    line-height: 1.23;

    color: $color-placeholder;

    &--bottom {
      @include mediaTablet {
        grid-row: 4/5;
      }
    }

  }

  &__button {
    font-size: 16px;
    font-weight: 700;
    text-align: center;

    height: 50px;

    padding: 12px;

    background-color: $color-accent;
    transition: background-color 0.2s ease-in;
    color: $color-text;

    &:hover {
      background-color: saturate($color-accent, 10%);
    }
  }
}